<h1><span data-i18n="skills.my_skills">About</span></h1>

<div>
    <p>Hey, Thanks for dropping by. Let me introduce myself,</p>

I am <b>Jay Vala</b>, I am a currently working as a <i>Junior Data Scientist</i> at Scoutbee GmbH, I have a Master's in Digital Engineering from Otto-Von-Guricke University Magdeburg in Germany. 

My interest are Deep Learning, Machine Learning and Natural Language Processing. I also love the challenges in data acquisition and ETL pipelines. 

The main reason I started writing this blog is because I tend to forget things if I just do it once, also I wanted to document everything for my Master thesis. 

<q>I don't remember who said this but, "Writing once is equal to reading several times".</q>

<p>So enjoy</p>

<p>If you find mistakes in the post or have a suggestion, please drop me an email at <code>jay.vala@msn.com</code> </p>

<p>Thanks for reading!</p>


</div>